{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="mt-4">
        <div class="card-body">
            <h3><i class="fas fa-thumbs-up text-success"></i> Awesome!</h3>
            <p>We have sent an email to you with instructions to recover your password. if you have remembered your password            
             <a class="btn btn-sm btn-primary" href="{% url 'login' %}">login here.</a></p>
        </div>
    </div>
</div>
    
{% endblock content %}