{% extends 'layout.html' %}
{% block content %}
    <div class="row">
        <div class="card col-10 offset-1 col-md-4 offset-md-6 mt-4">
            <div class="mt-2">
                <h4><i class="fas fa-user-lock"></i> Log in</h4>
            </div>
            <div class="card-body">
                <form method="post" class="form">
                    {% csrf_token %}
                    
                    {{form}}

                    <button class="btn btn-primary col">Log in</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
                <div><a href="{% url 'forgot-password' %}">Forgot my password</a></div>
                <hr/>
                <p><i class="fas fa-info-circle text-info"></i> Don't have an account? <a href="{% url 'signup-form' %}">Sign up</a></p>
            </div>
        </div>
    </div>
{% endblock content %}