{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="mt-4">
        <div class="card-body">
            <h3><i class="fas fa-thumbs-up text-success"></i> Awesome!</h3>
            <p>You have successfully reset your password.            
             <a class="btn btn-sm btn-primary" href="{% url 'login' %}">Log in here</a> to continue.</p>
        </div>
    </div>
</div>
    
{% endblock content %}