
{% extends 'signup/emails/layout.html' %}
{% block content %}
    <div>
        You are receiving this message because someone asked for password reset for {{email}}.
        Follow the link below to reset your password:
        <p><a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">here to confirm your email</a></p>
    </div>
{% endblock content %}