{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="mt-4">
        <div class="card-body">
            <h3><i class="fas fa-thumbs-up text-success"></i> Awesome!</h3>
            <p>Your account is all set. Please login to continue <a class="btn btn-sm btn-primary" href="{% url 'login' %}">log in</a></p>
        </div>
    </div>
</div>
    
{% endblock content %}