{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="mt-4">
        <div class="card-body">
            <h3><i class="far fa-meh text-danger"></i> We can try this again</h3>
            {% if reason %}
 <p>
                {{reason}}. Please <a href="{% url 'signup-form' %}">request a new email</a>
            </p>
            {% else %}
            <p>
                This link has expired or you may have used it already. Please <a href="{% url 'signup-form' %}">request a new email</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
    
{% endblock content %}