{% extends 'layout.html' %}

{% block content %}
    <div class="row">
        <div class="card col-10 offset-1 col-md-4 offset-md-6 mt-4">
            <div class="mt-2">
                <h4><i class="fas fa-user-plus"></i> Sign up</h4>
            </div>
            <div class="card-body">
                <form method="post" class="form">
                    {% csrf_token %}
                    
                    {{form}}
                    
                    <button class="btn btn-primary col">Sign up</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
                <p><i class="fas fa-info-circle text-info"></i> Already have an account? <a href="{% url 'login' %}">Log in</a></p>
            </div>
        </div>
    </div>
{% endblock content %}