{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="mt-4">
        <div class="card-body">
            <h3><i class="far fa-handshake"></i> Thank you for signing up.</h3>
            <p>We have sent you a confirmation email. Open your email and click the confirm button at the bottom of the email</p>
        </div>
    </div>
</div>
    
{% endblock content %}