
{% extends 'signup/emails/layout.html' %}
{% block content %}
    <div>
        You are receiving this message because you signuped up at <a href="{{base_url}}">{{base_url}}</a>
    </div>
    <div>Click<a href="{{base_url}}{% url 'signup-verify-email' token=token %}">here to confirm your email</a></div>

    <div>This email will expire after 12 hours</div>
{% endblock content %}